#rocket{
    position: absolute;
    height: 150px;
    width: 110px;
    left: 50%;
    top: 85%;   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#rocket_img{
    height: 100%;

    object-fit: cover;
}

#rocket_smoke{
    position: absolute;
    height: 130px;
    width: 80px;
    border: 1px solid white;
    transform-origin: 0% 50%; /* Set the rotation origin to the bottom center */
}