#rocket{

   
    display: flex;

    position: absolute;
    height: 150px;
    width: 150px;
    left: 50%;
    top: 85%;   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

#rocket_img{
    height: 100%;

    object-fit: cover;
}



#rocket_smoke{
    position: absolute;
    height: 150px;
    width: 150px;
}

#rocket_smoke_img{
    position: relative ;
    height: 140%;
    rotate: 180deg;
    top: 30%;
    right: 17%
}

