#rocket{
    position: absolute;
    height: 150px;
    width: 110px;
    left: 50%;
    top: 85%;   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#rocket_img{
    height: 100%;

    object-fit: cover;
}