@import url(controllers.css);
@import url(rocket.css);

#root {
    display: flex;
    align-items: flex-end;
    height: 95%;
    width: 98%;
    border: 1px solid;
}
  
html{
    display: flex;
    place-items: center;
    margin: 0;
}



body {
    height: 99vh;
    width: 99vw;
    border: 1px solid;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}
  